.boards{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 20px;
}


.boards__add-post .board:hover{
    transform: scale(1.05);
}

.boards__add-post .board{
    width: 25%;
}

.boards__add-post h2 {
    word-break: break-word;
    line-height: 1em;
    font-size: 1em
}


.board__create{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px #a1a1a1;
}

.board__create-header:hover{
    text-decoration: underline;
    color: #8d8d8d;
}


.board__create:hover{
    background-color: rgb(218, 218, 218)
}

.board__create:hover .add-item{
    fill: rgb(255, 255, 255);
}

.board__create:hover + .board__create-header{
    text-decoration: underline;
    color: #8d8d8d;
}


.add-item{
    background-color: none;
    width: 100px;
    height: 100px;
    fill: #8D8D8D;
}


.board{
    position: relative;
    width: 30%;
    height: 400px;
    flex: 0 0 30%;
}

.board h2{
    margin-top: 10px;
    word-break: break-word;
    line-height: 1em;
}


.boardContainer{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    position: relative;
}


.board__display{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    border-radius: 5px;
    background-color: #dcdcdc;
    box-shadow: 0 1px 5px #a1a1a1;
}

.board__add-post-instructions{
    text-align: center;
}


@media only screen and (max-width: 1024px) {
    .board{
        flex: 0 0 45%;
        width: 45%;
        margin-bottom: 40px;
    }

    .boards__add-post .create-container{
        width: 45%;
    }

    

    .boards__add-post h2 {
        font-size: .8em
    }

    .board h2 {
        word-break: break-word;
        line-height: 1em;
    }

    .boards__add-post .board {
        height: 100%;
        width: 25%;
    }

    .boards__add-post .board__display{
        height: 100px 
    }

    .boards__add-post .create-container{
        height: 200px;
    }

    .boards__add-post .create__display{
        height: 100px 
    }
    .boards__add-post .create__item{
        height: 50px ;
        width: 50px;
    }
}





@media only screen and (max-width: 600px){
    .board{
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 40px;
    }

    .boards__add-post .create-container{
        width: 45%;        
    }

    .boards__add-post .board{
        flex: 0 0 45%;
        width: 45%;
        margin-bottom: 40px;
    }

    .boards__add-post .create-container{
        width: 45%;   
    }
}