.not-found{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.not-found h1,
.not-found h2{
    text-align: center;
    line-height: 2rem;
}

.not-found__svg{
    margin: 0 auto;
    width: 400px;
    height: 400px;
}


@media only screen and (max-width: 600px){


    .not-found__svg{
        width: 200px;
        height: 200px;
    }
    
}