p{
    margin: 0;
    line-height: 1.2em;
}


.img-spread1{
    background: url('../assets/spread2.jpg');
    background-size: cover;
    height: 80vh;
    
}

.img-spread2{
    background: url('../assets/spread1.jpg');
    background-size: cover;
    height: 80vh;
}

header{
    display: flex;
    flex-direction: column;
}

header > div{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    width: 40%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li{
    list-style-type: none;
}


.testList{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.flexMe{
    display: flex;
    justify-content: flex-end;
}

.testMore{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.testMore div{
    width: 30%;
}

.testMore img{
    width: 100%;
    height: auto;
}

.boardBox {
    width: 300px;
    height: 300px;
    background-color: rgba(141, 141, 141, .5);
    display: flex;
    align-items: center;
    justify-content: center;

}

.boardContainer{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    position: relative;
}


.board{
    /* position: relative;
    width: 300px;
    height: 300px; */
    width: 300px;
    height: 300px;
}

.addContainer{
    /* height: 100%; */
}

.stickOne,
.stickTwo{
    /* position: absolute; */
    width: 70px;
    height: 10px;
    background-color: white;

}

.stickTwo{
    transform: rotate(90deg) translateX(-10px);
}

.boardImg{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    /* background-image: url(your/image.jpg); */
}

.board img{
    /* clip-path: inset(100px 20px 30px 40px); */
    width: 300px; 
    height: 300px;
    object-fit: cover; 
    /* background-size: cover; */


/* 
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


.modal{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: auto;
}


.user-avatar{
    width: 60px;
    height: 60px;
    clip-path: circle(30%);
}

.comment-row{
    display: flex;
    margin: 10px 0;
}

.previewPicture{
    width: 100%;
}

.avatar-container {
    width: 100px;
    height: 100px;
}

.new-post{
    width: 40%;
    background-color: tan;
}